@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto:400,700&display=swap");
* {
  font-family: Roboto, sans-serif;
  color: #222;
  font-size: 14px;
  cursor: unset;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18.6666666667px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 11.2px;
}

h6 {
  font-size: 9.3333333333px;
}

.title {
  font-family: Raleway, sans-serif;
}

a, button, .btn {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
}

button, .btn {
  text-transform: uppercase;
}

body {
  margin: 0;
}

.c-accent, .btn.outline, .badge, input[type=radio] + label {
  color: #35A7FF;
}

.c-gray, label, table tr th {
  color: #999;
}

.c-bg, input[type=radio]:checked + label {
  color: #eee;
}

.c-danger, .badge.danger, .btn.danger.outline {
  color: #FF213E;
}

.b-accent, .btn, input[type=radio] + label:after, input[type=radio]:checked + label, input[type=checkbox]:checked + label {
  background-color: #35A7FF;
}

.b-gray, input[type=checkbox] + label {
  background-color: #999;
}

.b-bg, body, input[type=radio]:checked + label:after, input[type=radio] + label, input[type=checkbox] + label:after {
  background-color: #eee;
}

.b-danger, .btn.danger {
  background-color: #FF213E;
}

.shadowout {
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08), -3px -3px 9px rgba(255, 255, 255, 0.9);
}

.shadowin {
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.08), inset -3px -3px 9px rgba(255, 255, 255, 0.9);
}

.shadowboth {
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08), -3px -3px 9px rgba(255, 255, 255, 0.9), inset 3px 3px 9px rgba(0, 0, 0, 0.08), inset -3px -3px 9px rgba(255, 255, 255, 0.9);
}

a.shadowout:hover, button.shadowout:hover {
  box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.08), -3px -3px 9px rgba(255, 255, 255, 0.9);
}

.flex, .containrow, .containcolumn, .navbar, #modal.visible, .notificationbar {
  display: flex;
}

.notificationbar .notification.removed, input[type=radio], input[type=checkbox], #modal {
  display: none;
}

.containrow, .containcolumn {
  justify-content: space-evenly;
  align-items: flex-start;
}

.containcolumn, .notificationbar {
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 5px;
}

.card {
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  min-width: 200px;
}
.card .cardimg {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: -10px -10px 0 -10px;
  object-fit: cover;
  height: 250px;
  width: 444.4444444444px;
}

a, .btn, input, .badge {
  transition: all 0.2s ease-in-out;
}

label {
  transition: all 0.1s ease-in-out;
}

.corners, .btn, .badge, form input, form select, form textarea, input[type=radio] + label, .card, .notification {
  border-radius: 20px;
}

.btn {
  padding: 10px 20px;
  display: inline-block;
}
.btn.outline {
  padding: 8px 18px;
  background-color: transparent;
  border: 2px solid #35A7FF;
}
.btn.outline.danger {
  border: 2px solid #FF213E;
}
.btn.outline.danger:hover {
  border: 2px solid #ff0828;
  color: #ff0828;
}
.btn.outline:hover {
  border: 2px solid #1c9cff;
  color: #1c9cff;
}
.btn:not(.outline).danger:hover {
  background-color: #ff0828;
}
.btn:not(.outline):hover {
  background-color: #1c9cff;
}
.btn.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 999999px;
  z-index: 1;
}

.badge {
  padding: 5px 10px;
  background-color: rgba(53, 167, 255, 0.15);
}
.badge.danger {
  background-color: rgba(255, 33, 62, 0.15);
}

a.badge:hover, a:hover .badge {
  color: #0083e8;
  background-color: rgba(0, 131, 232, 0.15);
}

a.badge.danger:hover, a:hover .badge.danger {
  color: #d4001c;
  background-color: rgba(212, 0, 28, 0.15);
}

input, select, textarea, .group, .groupselect, .groupmultiselect {
  width: 100%;
  max-width: 500px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

form input, form select, form textarea {
  box-sizing: border-box;
  background-color: transparent;
  padding: 13px 20px 10px 20px;
  display: block;
  border: 1px solid #999;
}
form input:focus, form select:focus, form textarea:focus {
  box-shadow: 0 0 0 3px rgba(53, 167, 255, 0.25);
}
form input:focus, form select:focus, form textarea:focus {
  border: 1px solid #35A7FF;
}
form input:not([type=checkbox]):not([type=radio]) + label, form select:not([type=checkbox]):not([type=radio]) + label, form textarea:not([type=checkbox]):not([type=radio]) + label {
  left: 21px;
  top: 14px;
}
form input:not([type=checkbox]):not([type=radio]):not(:placeholder-shown) + label, form select:not([type=checkbox]):not([type=radio]):not(:placeholder-shown) + label, form textarea:not([type=checkbox]):not([type=radio]):not(:placeholder-shown) + label {
  top: 4px;
  left: 20px;
  font-size: 10px;
}
form input[type=checkbox] + label, form select[type=checkbox] + label, form textarea[type=checkbox] + label {
  text-indent: 50px !important;
}
form .group, form .groupmultiselect, form .groupselect {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}
form label {
  font-weight: normal;
  position: absolute;
}
form select[multiple] {
  padding: 0;
}
form select[multiple] option {
  padding: 2px 20px;
}
form .groupselect:after {
  content: "";
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

input[type=checkbox]:checked + label:after {
  left: calc(100%);
  transform: translateX(-100%);
}
input[type=checkbox] + label {
  color: #222;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  border-radius: 9999px;
}
input[type=checkbox] + label:after {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
}
input[type=checkbox] + label:active:after {
  width: 22px;
}

input[type=radio]:checked + label:after {
  box-shadow: 0 0 0 2px #35A7FF, 0 0 0 4px #eee;
}
input[type=radio] + label {
  margin: 10px 0 20px;
  padding-right: 12px;
  text-indent: 28px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
}
input[type=radio] + label:after {
  top: 11px;
  left: 11px;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 0 2px #eee, 0 0 0 4px #35A7FF;
}

input[type=radio] + label, input[type=checkbox] + label {
  display: block;
  font-weight: normal !important;
  cursor: pointer;
  margin: 10px 0 20px;
  position: relative;
}
input[type=radio] + label:after, input[type=checkbox] + label:after {
  content: "";
  position: absolute;
  transition: 0.2s ease-in-out;
  border-radius: 99999px;
}

*[disabled], *[disabled] + label {
  opacity: 50%;
}

table {
  border-spacing: 0;
  margin: 10px;
}
table.striped tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}
table tr:nth-child(2) td {
  border-top: 1px solid #999;
}
table th {
  font-weight: normal;
  text-align: left;
  padding: 20px;
}
table td {
  padding: 20px;
  border-top: 1px solid rgba(153, 153, 153, 0.5);
}

.navbar {
  align-items: center;
}
.navbar .brand {
  font-weight: bold;
}
.navbar a {
  padding: 20px 10px;
}
.navbar a:hover {
  color: #151515;
}

.m-xs {
  margin: 5px !important;
}

.p-xs {
  padding: 5px !important;
}

.m-s {
  margin: 10px !important;
}

.p-s {
  padding: 10px !important;
}

.m-m {
  margin: 20px !important;
}

.p-m {
  padding: 20px !important;
}

.m-l {
  margin: 40px !important;
}

.p-l {
  padding: 40px !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mx-auto, .mr-auto {
  margin-right: auto !important;
}

#modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#modal .body {
  margin: auto;
  min-width: 200px;
}

.notificationbar {
  position: fixed;
  top: 20px;
  right: -40px;
  align-items: flex-end;
}
.notificationbar .notification {
  max-width: 250px;
  min-width: 0;
  margin: 5px;
  padding: 10px 40px 10px 10px;
}
