head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  meta(name='viewport' content='initial-scale=1, viewport-fit=cover')
body.shadowin
    .containrow(style='align-items: center; height: 100vh;')
        a.card.shadowout(href='splash1.html')
            img.cardimg(src='images/splash1.png' alt='')
            h3 Splash screen 1
        a.card.shadowout(href='splash2.html')
            img.cardimg(src='images/splash2.png' alt='')
            h3 Splash screen 2
        a.card.shadowout(href='fullexample.html')
            img.cardimg(src='images/fullexample.png' alt='')
            h3 All components