head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  meta(name='viewport' content='initial-scale=1, viewport-fit=cover')
.navbar
  a.brand.title Companyname
  a Contact
  a Shop
  a Cart
.containrow(style='justify-content: center; align-items: center;')
  .card.shadowout.p-m(style='margin-right: -20px;')
    h3 Welcome to my platform
    p.c-gray Enable your upmost potential by enrolling
    a.btn Get started
    a.btn.outline ask questions
  .card.shadowout
    img.cardimg(style='width: 50vw; height: 80vh;' src='https://source.unsplash.com/collection/4794304/1500x1000')
