head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  meta(name='viewport' content='initial-scale=1, viewport-fit=cover')
.navbar.shadowout
  a.brand.title Companyname
  a Contact
  a Shop
  a Cart
a.btn.fab.shadowout +
.containcolumn
  h2.mx-auto.m-m Clients
  table.mx-auto
    tbody
      tr
        th Email
        th Name
        th Phone#
        th Country
        th Friends
        th
      tr
        td porttitor.scelerisque@fermentumarcu.org
        td Molly Mcmahon
        td 1-919-816-8418
        td Slovenia
        td 9
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ultrices.a.auctor@nisi.edu
        td Georgia Lopez
        td 1-137-953-8671
        td Benin
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td justo.sit@luctussitamet.net
        td Keith Parker
        td 1-935-440-0659
        td Monaco
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td eu.accumsan@telluslorem.edu
        td Oren Steele
        td 1-387-497-6075
        td Namibia
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Vivamus@nunc.com
        td Chanda Cortez
        td 1-904-834-3600
        td Armenia
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td dictum.magna.Ut@Donecvitae.com
        td Kuame Casey
        td 1-838-257-5144
        td Martinique
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td a@auctorMaurisvel.com
        td Leonard Graham
        td 1-946-382-9346
        td Spain
        td 2
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td metus@ultricessit.edu
        td Robin Powell
        td 1-236-288-1891
        td Malaysia
        td 2
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td nisi@dictumaugue.org
        td Noble Morrison
        td 1-717-183-6757
        td Tajikistan
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td elementum.at.egestas@nuncullamcorpereu.org
        td Gretchen Horton
        td 1-362-974-3999
        td Sudan
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td elementum@sitametdapibus.com
        td Athena Cole
        td 1-475-226-1590
        td Tunisia
        td 9
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td semper@Nam.ca
        td Morgan Myers
        td 1-789-777-3316
        td Nigeria
        td 2
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Cum.sociis@eratsemperrutrum.co.uk
        td MacKenzie Wilkins
        td 1-160-600-0081
        td Bonaire, Sint Eustatius and Saba
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td In.nec@Quisque.net
        td Mari Kennedy
        td 1-134-760-4824
        td C&ocirc;te D&apos;Ivoire (Ivory Coast)
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td risus@semperauctor.net
        td Kelsie Nieves
        td 1-406-180-8417
        td Malawi
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td dictum@dui.co.uk
        td Evangeline Mejia
        td 1-742-593-7257
        td Senegal
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td non.feugiat@dui.org
        td Harrison Burgess
        td 1-428-214-1518
        td Guernsey
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td nec.tempus@tellusAeneanegestas.com
        td TaShya Kim
        td 1-877-400-1548
        td Switzerland
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td elit.pretium.et@enim.edu
        td Zorita Navarro
        td 1-931-447-0921
        td Uzbekistan
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td lorem.sit@Pellentesquehabitant.net
        td Keaton Miles
        td 1-614-899-0229
        td Mauritania
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ut.molestie.in@et.ca
        td Petra Jenkins
        td 1-907-959-5467
        td Pitcairn Islands
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ligula.elit.pretium@Nullatincidunt.org
        td Jade Taylor
        td 1-122-667-7599
        td India
        td 4
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td risus@facilisis.co.uk
        td Ashton Manning
        td 1-571-226-8653
        td Cyprus
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Sed.diam.lorem@liberoat.ca
        td Jin Barton
        td 1-473-638-8188
        td Poland
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td tortor.Integer@vel.net
        td Garrett Huber
        td 1-173-721-7790
        td Gibraltar
        td 2
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td arcu.Morbi.sit@Donecdignissim.com
        td Pearl Watkins
        td 1-216-856-3614
        td Norway
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ornare.placerat@mus.net
        td Peter Fuller
        td 1-586-404-0305
        td Jersey
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td dui@indolorFusce.net
        td Chester Kirby
        td 1-566-757-5073
        td Korea, North
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td turpis@velconvallisin.ca
        td Emery Wilkins
        td 1-128-331-8385
        td Cuba
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td elit.erat@ad.net
        td Aristotle Oneill
        td 1-317-462-5283
        td Greece
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Quisque@orciconsectetuereuismod.net
        td Irma Goodwin
        td 1-350-634-0151
        td Dominican Republic
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td elit.fermentum@etrutrum.org
        td Harrison Conrad
        td 1-807-462-4368
        td Japan
        td 2
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td libero.Integer@felis.co.uk
        td Zephania Avery
        td 1-754-537-7233
        td Guam
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td quis.lectus@Nullasempertellus.com
        td Troy Nash
        td 1-903-924-6339
        td Brazil
        td 4
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ultricies.dignissim.lacus@Vestibulum.ca
        td Bianca Brewer
        td 1-778-653-3055
        td Ghana
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td et.pede@maurisa.com
        td Fredericka Mcpherson
        td 1-756-960-8295
        td Spain
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td tincidunt@Nulla.ca
        td Kamal Cummings
        td 1-116-546-5702
        td Uganda
        td 4
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td sagittis.Duis@Phasellusvitaemauris.edu
        td Jacqueline Miranda
        td 1-483-698-6201
        td Monaco
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td dolor.Donec.fringilla@idmollisnec.net
        td Halla Frederick
        td 1-514-989-0886
        td Cuba
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td egestas@magnaSuspendisse.org
        td Murphy Morse
        td 1-664-784-7732
        td Puerto Rico
        td 9
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ridiculus@ultrices.net
        td Trevor Conner
        td 1-896-273-0260
        td Pitcairn Islands
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td est.vitae@mauris.edu
        td Kimberley Jennings
        td 1-775-512-4454
        td Aruba
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td gravida.Praesent.eu@sagittislobortis.edu
        td Jorden Blackburn
        td 1-488-580-1346
        td Belarus
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td volutpat.ornare@Donecest.edu
        td Holly Flowers
        td 1-671-554-4166
        td Korea, South
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td aliquet@Donec.net
        td Aurelia Riggs
        td 1-250-296-6783
        td Romania
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td tristique.pharetra.Quisque@nuncacmattis.ca
        td Audrey Burks
        td 1-397-628-6467
        td Paraguay
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td nibh@accumsan.net
        td Channing Crosby
        td 1-539-401-9887
        td Macao
        td 2
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Sed@imperdietullamcorper.net
        td Cain Moss
        td 1-500-100-7974
        td Estonia
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td eget.varius.ultrices@et.ca
        td Glenna Cameron
        td 1-729-493-4739
        td Panama
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Nam@In.org
        td Quail Villarreal
        td 1-576-326-8595
        td Botswana
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td erat.in.consectetuer@quam.co.uk
        td Timon Bright
        td 1-695-479-4179
        td Djibouti
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td mauris.erat@ullamcorperDuis.co.uk
        td Brett Cleveland
        td 1-853-593-9263
        td Sao Tome and Principe
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td rutrum@purusgravidasagittis.edu
        td Drew Weiss
        td 1-829-541-0848
        td Poland
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ligula@eterosProin.net
        td Ferdinand Guthrie
        td 1-483-501-2707
        td Cayman Islands
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td torquent.per@auctorquis.edu
        td Lawrence Snow
        td 1-270-767-7674
        td Jersey
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td auctor.vitae@eget.org
        td Hanae Skinner
        td 1-719-984-6826
        td Jersey
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td nibh.Quisque.nonummy@aarcuSed.net
        td Calista Casey
        td 1-696-930-1446
        td India
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td sagittis.lobortis@enimMauris.com
        td Ulla Evans
        td 1-871-556-8671
        td Mozambique
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Nunc.commodo.auctor@ut.com
        td Alma Duran
        td 1-409-668-5199
        td Switzerland
        td 9
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td commodo.at.libero@ipsumDonecsollicitudin.ca
        td Jemima Carpenter
        td 1-624-961-9393
        td British Indian Ocean Territory
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td lectus.Nullam.suscipit@bibendumullamcorper.edu
        td Walter Dennis
        td 1-484-769-6847
        td Liechtenstein
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td magnis@maurisMorbi.com
        td Silas Raymond
        td 1-178-960-1597
        td India
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td congue@lectusNullam.net
        td Leo Dominguez
        td 1-904-432-3845
        td Bangladesh
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td sagittis.lobortis@telluslorem.edu
        td Gannon Cohen
        td 1-202-524-2901
        td Andorra
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td arcu.imperdiet@dictummiac.net
        td Fiona Bishop
        td 1-267-630-8740
        td Mali
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td vulputate@pellentesquea.net
        td Ali Hendrix
        td 1-523-954-1321
        td Kiribati
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td nisl.arcu.iaculis@pede.com
        td Abra Ramos
        td 1-896-940-2441
        td Ukraine
        td 9
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td magna@dapibus.ca
        td Camden Bryan
        td 1-342-604-5859
        td Norfolk Island
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td mi@convallisligulaDonec.net
        td Jerry Fox
        td 1-795-808-1476
        td Kazakhstan
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td diam@dictumultricies.net
        td Tarik Flores
        td 1-401-421-7035
        td Wallis and Futuna
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td neque@enim.co.uk
        td Lee Gardner
        td 1-129-229-7616
        td Solomon Islands
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Mauris.nulla@etnunc.co.uk
        td Melvin Cohen
        td 1-933-575-4826
        td Palau
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td id.nunc@venenatisa.co.uk
        td Tara Merritt
        td 1-951-937-8243
        td Barbados
        td 9
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td tortor.dictum@Nullamvitae.com
        td Joshua Madden
        td 1-172-302-2692
        td French Polynesia
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td pharetra.felis.eget@luctus.com
        td Lenore Barker
        td 1-946-182-4043
        td Liberia
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Mauris@libero.edu
        td Shoshana Peterson
        td 1-697-928-4591
        td Ukraine
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td vel.arcu@utquam.net
        td Chloe Randall
        td 1-700-637-2355
        td Lesotho
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td consectetuer@sitametultricies.ca
        td Alexander Middleton
        td 1-325-683-2809
        td Colombia
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td et@vulputate.com
        td Upton Spence
        td 1-556-983-2237
        td Albania
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td tristique.pharetra@tortor.edu
        td Kirk Villarreal
        td 1-960-444-8715
        td China
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Nam@tellusNunc.ca
        td Harrison Wright
        td 1-409-937-9234
        td Gambia
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td tincidunt@Inornare.com
        td Joseph Scott
        td 1-166-480-8536
        td Poland
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td tempus.lorem.fringilla@justoeu.co.uk
        td Chastity Lang
        td 1-407-534-1422
        td Malta
        td 2
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td non@est.edu
        td Latifah Schwartz
        td 1-300-109-4893
        td Rwanda
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td accumsan.laoreet@diam.net
        td Ruth Mcguire
        td 1-922-146-5551
        td Argentina
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td orci.luctus.et@odioPhasellusat.net
        td Quemby Pitts
        td 1-249-207-3251
        td Micronesia
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Donec.egestas.Duis@mattisIntegereu.com
        td Finn Duran
        td 1-630-975-0694
        td Spain
        td 4
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td ultricies@risus.net
        td Maxine Hanson
        td 1-931-553-8760
        td Bonaire, Sint Eustatius and Saba
        td 6
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Nunc.mauris@gravida.org
        td Adele Padilla
        td 1-554-991-8454
        td Taiwan
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Curabitur@sagittis.ca
        td Vaughan Bryant
        td 1-574-999-5326
        td Timor-Leste
        td 1
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td eu.odio@atnisi.com
        td Chastity Erickson
        td 1-270-526-5238
        td Somalia
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td Donec.felis.orci@ridiculusmus.org
        td Britanney Estes
        td 1-857-427-1575
        td Somalia
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td euismod.mauris.eu@Fuscealiquetmagna.edu
        td Lucas Contreras
        td 1-903-886-8004
        td Sierra Leone
        td 10
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td et.malesuada.fames@semperauctorMauris.com
        td Yuli Manning
        td 1-613-575-4912
        td South Georgia and The South Sandwich Islands
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td et.pede.Nunc@consequatlectussit.edu
        td Macon Woodard
        td 1-258-794-7885
        td United Kingdom (Great Britain)
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td est@Duismi.co.uk
        td Uriah Collier
        td 1-172-278-8336
        td Peru
        td 3
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td nulla.at@Fuscefermentumfermentum.ca
        td Shay Mcclure
        td 1-652-210-8138
        td Romania
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td libero@magna.ca
        td Basil Kaufman
        td 1-655-223-2319
        td Guinea-Bissau
        td 8
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td justo.sit.amet@quam.net
        td Imelda Byers
        td 1-616-307-0164
        td Moldova
        td 7
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
      tr
        td bibendum@ultriciesligula.ca
        td Tucker Burton
        td 1-219-960-2830
        td Vanuatu
        td 5
        td
          a.badge Details
          a.badge Edit
          a.badge.danger Delete
